body{
  margin:0px;
}
.banner{
  background-image: url('/img/banner.png');
  height: 200px;
  width: 100%;
}
.banner_text{
  background-color: rgba(0,0,0,0.4);
  text-align: center;
  line-height:200px;
  font-size:60px;
  color: #dfdfdf;
}
